.heart-bck {
  top: 2px;
  right: 2px;
  width: 52px;
  height: 52px;
  display: flex;
  border-radius: 50%;
  position: absolute;
  background: rgba(234, 234, 234, .6);
}

.heart {
  width: 38px;
  height: 38px;
  margin: auto;
}

.red{
  color: red;
}