header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding-bottom: 1%;
  z-index: 10000000;
  background-color: #ffffff;
  font-family: "poppins";
  font-size: 16px;
}

.header-1 {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  gap: 10%;
}
.header-1 > div:nth-child(1) {
  transition: all 0.8s ease;
}

.header-1 > div:nth-child(1):hover {
  transform: scale(1.03);
}

.header-1 p {
  font-family: "poppins";
  font-weight: 600;
  line-height: 28.8px;
  color: #f31d1d;
}

.header-2 {
  display: flex;
  align-items: center;
  width: 34%;
  justify-content: space-between;
}

.all-product p {
  font-family: "poppins";
  font-weight: 600;
  font-size: 13px;
  line-height: 23.4px;
  margin: 0;
  color: #f31d1d !important;
}

.header-2 p {
  font-family: "poppins";
  margin: 0;
  color: rgba(0, 0, 0, 0.47);
}

.hero-banner {
  margin-bottom: 3%;
  height: 65vh;
  transition: 1s all;
  transform: scale(0.98);
}
.hero-banner>img{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}


.all-product-cont {
  transition: 0.6s all ease;
}
.all-product-cont:hover {
  transform: scale(1.05);
}

/* ---------------------- Guest styling ----------------------*/

.guest-con {
  position: relative;
  cursor: pointer;
}
.guest-con p {
  font-size: 13px;
  font-weight: 400;
}

.login-hover-con {
  position: absolute;
  width: 20vw;
  right: 0;
  top: 5vh;
  background: #f5f5f5;
  z-index: 1;
  border-radius: 10px;
  padding: 10%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.4s, visibility 0.5s, transform 0.4s;
}

.guest-con:hover .login-hover-con {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.login-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #294bfa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2% 5%;
}

.login-text {
  font-family: "poppins";
  /* font-weight: 600; */
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.signup-con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2% 5%;
  margin-top: 5%;
  border: #f31d1d 1px solid;
}

.signup-text {
  font-family: "poppins";
  /* font-weight: 600; */
  font-size: 25px;
  line-height: 34px;
  color: #f31d1d;
  width: 100%;
  text-align: center;
}

/* -------------Media Query----------------------- */
@media (max-width: 1200px) {
  .header-2 {
    width: 45%;
  }

  .header-1 {
    width: 35%;
  }

  .login-hover-con {
    width: 30vw;
    padding: 7%;
  }
  .header-2 input[type="checkbox"]:checked + .login-hover-con {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

@media (max-width: 950px) {
  .header-2 {
    width: 50%;
  }

  .hero-banner {
    height: 50vh;
    margin: 1.8rem 0;
  }

  .login-hover-con {
    width: 30vw;
    padding: 7%;
  }
}

@media (max-width: 768px) {
  .header-2 {
    width: 55%;
  }
}

@media (max-width: 500px) {
  .header-2 {
    width: 45%;
  }

  .product-text,
  .all-product > p,
  .guest-text,
  .guest-image {
    display: none;
  }

  .hero-banner {
    height: 40vh;
  }

  .login-hover-con {
    width: 70vw;
    padding: 30%;
  }
}

@media (max-width: 360px) {
}
