/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'); */

.osho {
    text-align: center;
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 40px;
}

.sand {
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #878787;
}

.sub {
    background-color: red;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

}

.sub:hover {
    opacity: 0.8;
    background-color: red;
}

.cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.ink {
    margin: 0 1rem;
    width: 100%;
    max-width: 450px;
    padding: 2rem .5rem;
    margin-top: 2rem;
    background: #FFFFFF;
    border: 1px solid rgba(170, 170, 170, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.form-control {
    background-color: inherit;
    border: .5px solid #000;
    padding: 1rem 1rem;
    border: 1px solid #878787;
    border-radius: 10px;
}

.form-control:focus {
    background-color: inherit !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: black;
}

.form-control::placeholder {
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.num-inp {
    border: .5px solid #000;
    border-radius: 7px;
}

.number {
    border: none;
}

.inpp {
    border: none;
    width: 60px;
    background: rgba(185, 183, 183, 0.56);
    border-radius: 5px;
    text-align: center;
}

/* ---------------------------------------- */
.cart-order-checkout {
    width: 450px;
    background: #ffff;
    border: 1px solid rgba(170, 170, 170, 0.41);
    box-shadow: 3px 11px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 50px;
}

@media (max-width: 550px) {
    .ink {
        max-width: 100%;
        margin: 0;
        margin-top: 2rem;
        background: #F9F2F2;
        border: 1px solid rgba(170, 170, 170, 0.41);
        box-shadow: 3px 11px 5px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

    .cart-order-checkout {
        width: 100%;
        background: #F9F2F2;
        border: 1px solid rgba(170, 170, 170, 0.41);
        box-shadow: 3px 11px 5px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
}