*{
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */

}
/* h6{
    padding-left: 25%;
    margin-top: 5%;
} */

.logo{
    width: 163.02px;
height: 189.77px;
}
button{
    border-color: none;
}