.view-more{
    margin: 2% 0;
}
.view-more .card-con {
    display: flex;
    height: 45%;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .view-more .card {
    /* font-family: "open sans"; */
    width: 22%;
    position: relative;
    border-radius: 20px;
    margin-bottom: 3%;
  }
  
  .view-more .card-title {
    /* font-family: "Open Sans"; */
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .view-more .card-body {
    padding: 6px;
  }
  
  .view-more .price {
    /* font-family: 'Open Sans'; */
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #000000;
    margin: 7% 0;
  }
  
  .view-more .price-tag {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    margin: 0;
  }

  .view-more .card-title:nth-child(2){
    /* font-family: 'Open Sans'; */
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #767575;
  }




  @media(max-width:950px) {
  
    .view-more .card {
      width: 45%;
      margin-bottom: 3%;
    }
  }
  
  @media (max-width:500px) {
    .view-more .card {
      width: 90%;
      margin-bottom: 10%;
    }
  
    .view-more .cart-order {
      width: 90vw;
    }
  }
  
  @media (max-width:360px) {
    .view-more .card {
      width: 97%;
    }
  }
  
  