@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.main-cont {
  /* height: 100vh; */
  width: 100vw;
  overflow: hidden;
}
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding-top: 2rem;
}
.twenty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.twenty :nth-child(1) {
  margin-right: 2%;
  font-weight: bold;
  color: #fff;
  font-weight: 700;
  font-size: 25.49px;
  line-height: 35px;
}
.twenty :nth-child(2) {
  font-size: 25.49px;
  color: #fff;
  font-weight: 700;
  font-size: 14.49px;
}
.download {
  display: flex;
  border: #fff 1px solid;
  border-radius: 10px;
  align-items: center;
  padding: 1%;
  justify-content: space-between;
  width: 150px;
  margin-top: 3%;
}

.dwnld-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 12.2698px;
  line-height: 17px;
  color: #fff;
}
.dwnld-text a {
  text-decoration: none;
}

.download-img {
  margin-left: 5%;
  height: 21.92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-link h1 {
  font-size: large;
  margin: 10% 0%;
}
.link a {
  color: #fff;
}
.link {
  margin-top: 3%;
}
.follow-us {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  margin-top: 5%;
}
.Sm-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5% auto;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.general {
  width: 100%;
}
small {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
}
.icon1 {
  border: #fff 2px solid;
  padding: 10px 15px;
}
.icon2 {
  border: #fff 2px solid;
  padding: 12px 15px;
}
.icon3 {
  border: #fff 2px solid;
  padding: 7px 12px;
}
.icon4 {
  border: #fff 2px solid;
  padding: 15px 15px;
}

.head,
.help-link {
  width: 100%;
}

.vect11 {
  height: 50.7px;
  width: 50px;
  margin-bottom: 48px;
}
.vect2 {
  height: 46.6px;
  width: 45.375px;
  margin: -20px;
}

.head2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .main-cont {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
  .first-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 35%;
    justify-content: space-between;
  }
  .head2 {
    display: flex;
    flex-direction: row;
    width: 48%;
    justify-content: space-between;
  }
  .download {
    width: 210px;
  }
  .download-img {
    width: 30px;
    height: 40px;
  }
  .dwnld-text {
    width: 185px;
  }
  .dwnld-text h1 {
    font-size: 1rem;
  }
  .dwnld-text h1:nth-child(2) {
    font-size: 1.5rem;
  }
  .dwnld-text h1:nth-child(1) {
    margin-right: 5%;
  }
  .padlock {
    display: flex;
    align-items: center;
  }
  .TW-FS-support {
    display: flex;
  }
  .first-container h1 {
    font-size: 2rem;
  }
  .first-container h3 {
    font-size: 0.7rem;
  }
  .twenty {
    display: flex;
    flex-direction: column;
  }
  .twenty {
    display: flex;
    flex-direction: column;
  }
  .twenty h1 {
    font-size: 25.49px;
  }
  .twenty h3 {
    font-size: 14.49px;
  }
  .vect {
    margin-right: 30px;
  }
  .general {
    text-align: start;
    width: 80%;
  }
  .help-link h1 {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .icons {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .icons div {
    margin-right: 1rem;
  }
  .Sm-icons {
    margin-top: 0;
  }
  .follow-us {
    margin-top: 80px;
  }
}
