
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.header{
/* justify-content: start; */
/* margin-left: 1%; */
width: 40%;
gap: 30px;
}


.product{
width: 50%;
gap: 40px;
justify-content: end;
}

.Guest{
  color: gray;
}

.survey{
  color: red;
  width: 100;
}

.location{
  color: red;
}

.number{
  position: absolute;
  right: 9px;
  top: 42px;
  color: red;
  width: 10px;
}

.card{
  /* height: 30vh; */
  padding-bottom: 3%;
  width: 12%;
  padding-left: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  margin-left: 3% !important;
  padding-right: 0%;
}

/* .login{
  border: 1px solid;
  border-radius: 10px;
  padding-left: 5%;
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: blue;
  color: white;
  height: 35px;
  /* text-align: center; */
/* } */ */

/* .signup{
  border: 1px solid red;
  border-radius: 10px;
  width: 70%;
  padding-top: 1%;
  padding-left: 5%;
  padding-bottom: 1%;
  color: red;
  height: 35px;
  /* text-align: center; */
/* } */ */

.cardwidth{
  width: 5rem !important;
}

@media (max-width: 1024px){
  .header{
    display: none !important;
  }
  .survey{
    display: none !important;
  }
  .Guest{
    display: none !important;
  }
  .image{
    display: none !important;
  }
  .number{
    top: 9%;
    width: 10px;
  }
  header{
    margin-top: 5%;
  }
}
