@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.App {
  /* text-align: center; */
}
.sam{
 font-family: Open Sans;
font-size: 25px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
border: 0.5px solid #00000049;
height: auto;
width: 50%;
padding:  1rem;
margin-left: 1rem;
border-radius: 10px;
}

.rev{
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
height: 19px;
width: 452px;
left: 24px;
top: 176px;
border-radius: nullpx;
}

.thed{
padding: 1rem 0;
border-bottom: 1px solid #00000049;
}
.place{
  margin-top: 1rem;
  background-color:  #0C982B;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  font-size: 14px;
}
.add{
  background-color:  #000000;
  border: none;
  border-radius: 10px;
  color: white;
  width: 50%;
  color: white;
  font-size: 16px;
  

}
.flat{
  font-size: 20px;
}
.dutch{
font-family: 'Open Sans';
font-weight: 700;
font-size: 25px;
color: #000000;
}

@media (max-width:678px){
.sam{
  flex-direction: column;
  width: 90%;
  justify-content: center;
  padding: 5%, 5%;
  background-color: #F9F2F2;
}
.rev{
  width: 70%;
  height: 50%;
}
.dutch{
  padding-top: none !important;
}
.add{
  width: 100%;
  font-size: 16px;
}
.flat{
font-weight: 600;
font-size: 20px;
}
}
