@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ---------------------Home Card ------------------ */
.card {
  font-family: "open sans";
  width: 30%;
  position: relative;
  border-radius: 20px;
  margin-bottom: 3%;
  transition: all 0.5s ease-in-out;
}

.card:hover{
  scale: 1.02;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-title {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 5%;
  margin-top: 2%;
}

.card-body {
  padding: 6px;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #878787;
  margin-bottom: 7%;
}

.price-tag {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
  margin: 0;
}

/* ------------------------counter stylinng---------------- */

.counter {
  background: rgba(225, 186, 186, 0.75);
  border-radius: 5px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 2%;
}

.counter button {
  background: rgba(255, 255, 255, 0.63);
  border-radius: 5px;
  display: block;
  padding: 0px 10px;
  border: 0;
  color: #F31D1D;
  ;
}

.counter button:nth-child(1) {
  padding: 0 12px;
}

.counter label {
  font-size: 20px;
  line-height: 10px;
}

/* ------------img gallery---------------- */
.img-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7% 0;
}

.img-gallery img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* --------------------Add to Cart btn---------- */
.cart-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #F31D1D;
  border-radius: 10px;
  border: 0;
  padding: 3%;
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
}


.cart-txt {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.cart-icon {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 5px;
  padding: 3% 4%;
  display: grid;
  place-content: center;
}


.cart-icon svg {
  color: #FFFFFF;
}

/* .like{
  position: absolute;
  background-color: #ff0000;
  display: inline-block;
  border-radius: 100%;
}

.like img{
  opacity: 0.2; 
  position: absolute; 
  background-color: transparent;
}  */



.main-section {
  display: flex;
  padding-bottom: 0;
  justify-content: space-between;
}

.hero-section {
  width: 25%;
  margin-bottom: 2%;
  height: auto;

}

.img-fluid {
  height: 100%;
  width: 100%;
}

.background1 {
  display: block;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.background1:hover{
  transform: scaleX(1.03);
}

.card-con {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.cart-img {
  display: flex;
  justify-content: end;
  padding-right: 2%;

}
/* ------------ see more btn------- */
.see-more-btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 8px;
  display: block;
  margin-bottom: 10%;
  width: 192px;
  height: 55px;
  transition: all 0.5s ease;
  text-decoration: none !important;
  outline: none;
}

.see-more-btn:hover {
  background-color: #F31D1D;
}

main a{
  text-decoration: none !important;
}

.more-con{
  display: grid;
  place-content: center;
}


/* -------------------- header cart icon-------------------- */
.cart-badge {
  position: absolute;
  left: 18px;
  top: -4px;
  color: white;
  background: rgba(163, 15, 15, 0.86);
  border-radius: 50%;
  padding: 7% 20%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

}

/* --------------------Add to Cart inner Design--------------------- */

.cart-img-con {
  position: relative;
}

.cart-order {
  position: absolute;
  width: 30vw;
  right: 0;
  top: 5vh;
  background: #F5F5F5;
  z-index: 1;
  border-radius: 10px;
  padding: 30% 90%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: opacity 0.4s, visibility 0.5s, transform 0.4s;
}

.cart-img-con:hover .cart-order{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.cart-page h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  border-bottom: 2px solid #8787879c;
  padding: 4% 0;
}

.cart-page h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20.5882px;
  line-height: 28px;
  color: #878787;
  padding: 3% 0;
}

.order {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(135, 135, 135, 0.61);
  padding: 3% 0;

}

.order h5 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
}

.order-1 {
  flex-grow: 1;
}

.order-1 :nth-child(1) {
  color: #C6C3C3;
}

.order-1 :nth-child(2) {
  color: #F31D1D;
  padding-left: 3%;
}

.order-2 {
  justify-content: space-between;
  width: 25%;
}

.order-2 :nth-child(2) {
  padding-left: 10%;
}



.sub-total {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(135, 135, 135, 0.61);

}

.checkout-btn {
  display: block;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  background: #0C982B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;
  padding: 3% 0;
  margin: 3% 0;
}


/* ----------star Rating--------------------- */
.star-rating {
  display: inline-block;
  margin-top: -5px;
}

.star {
  font-size: 90%;
  color: gray;
  cursor: pointer;
}

.star.filled {
  color: gold;
}

.star-rating p{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;

color: #878787;
}

/* -------Loader------------------ */
.loader{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color:#878787;
}

.loading-txt{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  padding: 4% 0;
}

/* -----------------Media query----------------------------- */
@media(max-width:1200px){
  .card-con {
    width: 100%;
  }

  .card {
    font-family: "open sans";
    width: 30% !important;
    position: relative;
    border-radius: 20px;
    margin-bottom: 3%;
  }

  .main-section {
    display: flex;
    padding-bottom: 0;
    justify-content: space-between;
    gap: 2%;
  }

  .hero-section {
    width: 25%;
    margin-bottom: 2%;
    height: auto;
  
  }

  .cart-order {
    width: 40vw;
  }

  .cart-page input[type="checkbox"]:checked+.cart-order{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
@media(max-width:950px) {

  .card-con {
    width: 100%;
  }

  .hero-section {
    display: none;
  }

  .cart-page input[type="checkbox"]:checked+.cart-order{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  

  .card {
    font-family: "open sans";
    width: 45%;
    position: relative;
    border-radius: 20px;
    margin-bottom: 3%;
  }
  .cart-order {
    width: 60vw;
  }
}



@media (max-width:500px) {

  .card {
    width: 100% !important;
    margin: auto;
    margin-bottom: 8%;
  }

  .cart-order {
    width: 90vw;
  }
}

@media (max-width:360px) {
  .card {
    font-family: "open sans";
    width: 97%;
    position: relative;
    border-radius: 20px;
    margin-bottom: 10%;
  }
}




